/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 5 version
*/

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin-block: 1rem;
  position: relative;
  overflow: hidden;
}
.list-item {
  text-transform: capitalize;
  list-style: none;
  margin-right: 1.5rem;
  width: 6rem;
  background-color: #db4c44;
  padding-block: 0.5rem;
  text-align: center;
  border-radius: 0 0 40px 0;
  transition: 0.3s;
}
.list-item:hover {
  background-color: #e3726c;
}
.list-item a {
  text-decoration: none;
  color: #fff;
}
#about-section {
  margin: 0 auto;
  width: 100%;
  padding: 4rem 4rem 10rem 4rem;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  position: relative;
}
.little {
  margin-top: 1rem;
  font-size: 2rem;
}
.little span {
  font-weight: 600;
}
/* arrow start */
.arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /*     transform: rotate(90deg); */
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid #fcefdf;
  border-right: 5px solid #fcefdf;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: -10px;
  -webkit-animation: animate 2s infinite;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
    transform: rotate(45deg) translate(20px, 20px);
  }
}
/* arrow stop */
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2rem 4rem;
  background-color: #e7a92b;
}
#footer > .container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
#projects-section {
  margin: 0 auto;
  padding: 4rem 4rem 6rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding-block: 6rem;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  padding-right: 2rem;
}
.project-title {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}
.project-description {
  text-align: left;
}
.project-description li {
  list-style: none;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
}
.project-link {
  display: inline-block;
  text-transform: capitalize;
  text-decoration: none;
  width: 7rem;
  background-color: #e7a92b;
  margin: 1.5rem 1.5rem 0 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  text-align: center;
  border-radius: 0 0 40px 0;
  color: #fff;
  transition: 0.3s;
}
.project-link:hover {
  background-color: #e9ba5d;
}
.git {
  background-color: #3e3b36;
}
.git:hover {
  background-color: #787777;
}

.image_wrapper {
  position: relative;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: -1px;
  top: -2rem;
  background-color: #b2b2a8;
  padding-block: 1rem;
  border-radius: 0 0 40px 0;
}
.project:nth-child(2),
.project:nth-child(4) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

#film-section {
  margin: 0 auto;
  margin-bottom: 4rem;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.film-container {
  display: flex;
  justify-content: center;
}
.film-titre {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  text-align: right;
}
.film-description {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  letter-spacing: 0.5rem;
}
.film-list {
  flex-basis: 25%;
  padding-right: 1rem;
}
.film-item {
  list-style: none;
  padding-block: 0.5rem;
}
#contact-section {
  margin: 0 auto;
}
.contact-wraper > .email-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.contact-wraper > .email-container > p {
  margin: 1.5rem 1.5rem 1.5rem 0;
}
.contact-wraper {
  margin: 4rem 4rem 12rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}
hr {
  width: 100%;
  border: 1px solid #e7a92b;
}
.fa-linkedin {
  padding: 1rem;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fcefdf;
  background-color: #e7a92b;
  border-radius: 50%;
}
.fa-linkedin:hover {
  background-color: #0073a4;
}
