header {
  min-height: 100vh;
  background: linear-gradient(to bottom, #0d47a1, transparent),
    url(img/cerf-volant.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 670px) {
  header {
    min-height: 50vh;
  }
}
.section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}
