body {
  background: #f5f5f5;
  font-family: "Montserrat", sans-serif;
}
h2 {
  margin: 0;
}
header {
  min-height: 100vh;
  background: linear-gradient(to bottom, #0d47a1, transparent),
    url(img/cerf-volant.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 670px) {
  header {
    min-height: 50vh;
  }
}
/* PROJETS */
.section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}
.row .col.l4 {
  width: 50%;
}
#projets > * {
  margin-bottom: 4rem;
}
a {
  margin-top: 5px;
}
/* PARALLAX */
.parallax-container {
  height: 50vh;
}
/* CONTACT FORM */
[type="checkbox"] + span:not(.lever):before {
  left: 6px;
}
